build/
CMakeFiles/
*.mod
*.o
*.swp
/packmol
CMakeCache.txt
cmake_install.cmake
tmpfile.txt
testing/ieee_signaling_box.pdb
testing/water_box.pdb
testing/water_box.pdb_FORCED
testing/packmol.log
testing/Manifest.toml
testing/output.pdb
testing/output.pdb_FORCED
testing/input_files/Manifest.toml
testing/input_files/Project.toml
testing/chkgrad.log
.vscode/settings.json
__pycache__/
_site/*
docs/_site/*